.contacts
	padding-top: 100px
	&-info
		background: $yellow
		width: 40%
		&-title
			+RubikBold
			font-size: 36px
	&__info
		padding: 70px 110px 35px 200px
	&__title
		margin-bottom: 50px
	&-address
		margin-bottom: 35px
		&-title
			+LatoBold
			font-size: 16px
		&__text
			+LatoRegular
			font-size: 16px
			margin-top: 15px
