.rewievs
	background: url('../../images/rewievs/paw-bg.png') top right no-repeat
	background-size: auto
	padding-bottom: 40px
	&-wrap
		.slider__nav
			right: 200px
	&-slider
		padding-left: 130px
		&__nav
			right: 230px
		&__dots
			margin-right: 70px
		.slick-list
			overflow-y: visible
	&-column
		max-width: 560px
		&__card
			padding: 35px 30px 50px 60px
	&__column
		margin: 20px 15px
	&-text
		+LatoBold
		font-size: 16px
		line-height: 140%
		position: relative
		&:after
			content: '“'
			position: absolute
			top: 28px
			left: -40px
			+LatoRegular
			font-size: 90px
			color: $yellow
	&-card
		background: $white
		border-radius: 8px
		box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25)
		&__text
			margin-bottom: 25px
		&-info
			display: flex
			justify-content: space-between
			align-items: center
			&__span
				+LatoRegular
				font-size: 14px
				color: $grey

@media screen and (max-width: 768px)
	.rewievs
		padding-bottom: 20px
		&-slider
			padding-left: 45px
		&-column
			max-width: 460px
			&__card
				padding: 35px 35px 35px 70px
