section.section.contacts
	.contacts-wrap
		.contacts-info.contacts__info
			h3.contacts-info-title.contacts__title Как нас найти
			.contacts-address
				h6.contacts-address-title Адрес
				p.contacts-address__text Санкт-Петербург, ул Большая Конюшенная, д 19
			.contacts-address
				h6.contacts-address-title Режим работы
				p.contacts-address__text Ежедневно, с 9:00 до 20:00
			.contacts-address
				h6.contacts-address-title Телефон
				p.contacts-address__text 8 (800) 333-55-99
			.contacts-address
				h6.contacts-address-title E-mail
				p.contacts-address__text info@cat-hotel.ru
			.contacts-address
				h6.contacts-address-title Социальные сети
				p.contacts-address__text info@cat-hotel.ru
		.contacts-map
// /.section contact
