footer.footer
	.container-lg
		.footer__nav
			include nav.pug
		.footer-info.footer__info
			h5.footer-info__rights 2019 Все права защищены
			a.footer-info__policy(href="#") Политика конфиденциальности
