section.section.contacts
	.contacts-wrap
		.contacts-info.contacts__info
			h3.contacts-info-title.contacts__title Как нас найти
			.contacts-connect
				h6.contacts-connect-title Адрес
				p.contacts-connect__text Санкт-Петербург, ул Большая Конюшенная, д 19
			.contacts-connect
				h6.contacts-connect-title Режим работы
				p.contacts-connect__text Ежедневно, с 9:00 до 20:00
			.contacts-connect
				h6.contacts-connect-title Телефон
				a.contacts-connect__text(href="tel: 8-800-333-55-99") 8 (800) 333-55-99
			.contacts-connect
				h6.contacts-connect-title E-mail
				a.contacts-connect__text(href="mailto: info@cat-hotel.ru") info@cat-hotel.ru
			.contacts-connect
				h6.contacts-connect-title Социальные сети
				ul.contacts-connect-ul
					li.contacts-connect-ul__li
						a.contacts-connect-ul__link(href="#")
							img(src="images/contacts/facebook.svg", alt="Facebook")
					li.contacts-connect-ul__li
						a.contacts-connect-ul__link(href="#")
							img(src="images/contacts/instagram.svg", alt="Instagram")
					li.contacts-connect-ul__li
						a.contacts-connect-ul__link(href="#")
							img(src="images/contacts/vk.svg", alt="VK")
		.contacts-map
			iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1517.9549168392766!2d30.321734226990994!3d59.93845686083054!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310fb661d55f%3A0xd0cc7f055debe430!2z0JHQvtC70YzRiNCw0Y8g0JrQvtC90Y7RiNC10L3QvdCw0Y8g0YPQuy4sINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCDQoNC-0YHRltGPLCAxOTExODY!5e0!3m2!1suk!2sua!4v1583334165400!5m2!1suk!2sua", frameborder="0", style="border:0;", allowfullscreen="")
// /.section contact
