footer.footer
	.container-lg
		.footer__nav
			nav.nav
				a.nav__logo.footer__nav__logo(href="#")
					img(src="images/header/logo.svg" alt="Logotype")
				ul.nav-ul.footer__nav-ul
					li
						a.nav-ul__link.nav__link.footer__nav-ul__link(href="#") Почему мы?
					li
						a.nav-ul__link.nav__link.footer__nav-ul__link(href="#") Номера
					li
						a.nav-ul__link.nav__link.footer__nav-ul__link(href="#") Отзывы
					li
						a.nav-ul__link.nav__link.footer__nav-ul__link(href="#") Как нас найти
		.footer-info.footer__info
			h5.footer-info__rights 2019 Все права защищены
			a.footer-info__policy(href="#") Политика конфиденциальности
