.navbar
	nav.nav.container
		a.nav-logo(href="#")
			img(src="images/header/logo.svg" alt="Logotype")
		ul.nav-ul
			li
				a.nav-ul__link.nav__link(href="#") Почему мы?
			li
				a.nav-ul__link.nav__link(href="#") Номера
			li
				a.nav-ul__link.nav__link(href="#") Отзывы
			li
				a.nav-ul__link.nav__link(href="#") Как нас найти
